html {
    background-color: lightblue;
}

.container>h1 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

.card {
    color: black;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.card #rmit-logo {
    width: 250px;
    margin: 15px;
    transition: 0.5s ease-in-out;
}

.card #rmit-logo:hover {
    width: 300px;
    transition: 0.5s ease-in-out;
}

.card #kross-photo {
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
}

.card #kross-photo:hover {
    width: 300px;
    transition: 0.5s ease-in-out;
}

.card h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    margin: 10px;
}

.card p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
}

.card .contact{
    background-color: lightblue;
    padding: 15px;
    border-radius: 20px;
    margin: 10px auto;
    width: 70%;
    transition: 0.5s ease-in-out;
}

.card .contact:hover {
    padding: 20px;
    margin: 15px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

.card .contact a {
    color: black;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
}

.card .contact .icon {
    font-size: 24px;
}

.card p:last-child {
    font-size: 18px;
    font-weight: lighter;
}